/* 共通 */
html {
  font-family: Arial、Hiragino Sans、Hiragino Kaku Gothic ProN、Meiryo、sans-serif;
}

.container {
  margin: 0 auto;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

p {
  font-size: 14px;
}

.wrapper {
  max-width: 1200px;
  padding: 0 5%;
  text-align: center;
  margin: 0 auto;
}

/* header */
header {
  background: url(../img/mainvisual.jpg);
  height: 100vh;
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: center top;
  margin-bottom: 80px;
}

.logo {
  position: absolute;
  top: 30px;
  right: 30px;
}

/* main */
/* コンテンツ1 */
.flex_box {
  display: flex;
  align-items: center;
}

.flex_left {
  position: relative;
  margin: 10px;
}

.flex_left img {
  width: 100%;

}

.flex_right {
  position: relative;
  margin: 10px;
}

.flex_right img {
  width: 100%;
}

.text_background {
  background-color: rgb(0, 0, 0, 0.5);
  color: white;
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  width: 230px;
  margin: 0 auto;
  font-weight: bold;
  padding: 15px 0;
}

.text_background h3 {
  margin: 0;
}

.text_background p {
  margin: 0;
}

/* .flex_box {
  display: flex;
justify-content: space-between;
}

.flex_left {
  background: url(../img/magazine-archive.jpg);
}

.flex_right {
  background: url(../img/magazine-new.jpg);
} */

/* コンテンツ2 */
#fashion {
  background-image: url(../img/fashion.jpg);
  height: 520px;
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: center top;
  margin-top: 60px;
  margin-bottom: 80px;
}

.fshion_inner {
  margin: 0px 75px;
  padding-top: 40px;
}

.fshion_inner p {
  margin-bottom: 30px;
}

.btn {
  border: solid 1px black;
  padding: 10px 30px;
  font-size: 12px;
  text-decoration: none;
  color: black;
  margin-top: 20px;
}

/* コンテンツ3 */

#catalog_antique {
  background-color: #f5f5f5;
}

.content_inner {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 60px;
    padding-right: 60px;
}

.inner_img img{
  width: 100%;
}

.text {
  text-align: center;
  padding:0 0 0 30px;
}

.antique_text {
  padding:0 30px 0 0;
}

.text ul {
  padding: 0;
}

.text li {
  list-style: none;
  margin-bottom: 30px;
}

.text p {
  text-align: left;
  margin: 0;
}


/* footer */

#footer {
  background-color: #333333;
}

.footer_inner {
  padding: 100px 0;
}

.inner_left {
  width: 33%;
  text-align: left;
}

.inner_center {
  width: 33%;
  color: white;
  text-align: left;
  line-height: 2;
}

.inner_right {
  width: 33%;
  color: white;
  text-align: left;
  line-height: 2;
}

dt {
  margin-bottom: 10px;
}

dd {
  font-size: 12px;
  margin: 0;
}

.inner_center dd:before {
  content: "-";
  margin: 0 5px;
}

.copy_right {
text-align: center;
font-size: 12px;
padding: 30px 0;
margin: 0;
}

/* レスポンシブ ブレークポイント:896px */