/* 以下、PC用画面 */
/* 以下、header */

.wrapper {
  max-width: 960px;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 80px;
}

header {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin: 0 auto;

}

#logo {
  width: 120px;
  height: 27px;
  padding-top: 20px;
}

#navi {
  font-size: 14px;
  list-style: none;
  display: flex;
  align-items: baseline;
}

#navi li {
  padding: 20px;
}

.global_menu {
  text-decoration: none;
}

.global_menu:active {
  color: black;

}

.global_menu:visited {
  color: black;
}

.global_menu:hover {
  color: black;
}

#insta-icon {
  width: 20px;
  height: 20px;
  padding-top: 10px;
}

/* PC用メインビジュアル =================*/
#mv {
  width: 100%;
  height: auto;
}

#mv img {
  width: 100%;
  height: 420px;
  max-width: 1920px;
  margin: 0 auto;
  object-fit: cover;
}



/* about =========================*/
.content-title {
  text-align: center;
  margin: 80px 0;
}

.profile {
  margin: 0 auto;
}

.profile>p {
  font-size: 14px;
  margin: 40px 0;
  color: black;
}

.profile>p:link {
  color: black;
}

.profile>p:visited {
  color: black;
}

.profile>p:hover {
  color: black;
}

.profile>p:active {
  color: black;
}

/*============ workの画像　＝＝＝＝＝＝＝＝＝＝ */


.works-list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
}

.works-list li {
  width: 28%;
  padding: 15px 15px;
}

.works-img {
  width: 100%;
}

/*============ news　＝＝＝＝＝＝＝＝＝＝ */

table {
  margin: 0 auto;
}

.news-top td {
  border-top: solid 1px #C8C8C8;
}

.sentence td {
  border-bottom: solid 1px #C8C8C8;
  padding: 20px;
}

.date {
  padding-right: 50px;
}

/*============ Contavt form　＝＝＝＝＝＝＝＝＝＝ */

.contactForm {
  text-align: center;
  margin: 0 auto;
  width: 85%;
  margin-bottom: 40px;
}

.contactForm input {
  max-width: 920px;
  width: 100%;
  height: 40px;
}

.contactForm textarea {
  max-width: 920px;
  width: 100%;
  height: 200px;
}

label {
  padding: 0;
}

.contact_btn input {
  margin: 0 auto;
  display: block;
  background-color: black;
  color: white;
  padding: 15px;
  width: 200px;
}

.contact_btn input:hover {
  background-color: white;
  color: black;
}

@media screen and (max-width: 600px) {

  body {
    margin: 0;
  }

  .wrapper {
    min-width: 400px;
    width: 100%;
  }

  header {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  #logo {
    margin: 0 auto;
  }

  #navi {
    margin: 0 auto;
  }

  #mv img {
    min-width: 400px;
  }

  .works-list {
    display: flex;
    list-style: none;
    flex-direction: column;
    padding: 0;
    text-align: center;
  }

  .works-list li {
    width: 100%;
    padding: 15px 0;
  }

  .works-img {
    width: 85%;
}

.contactForm td {
  display: flex;
  flex-direction: column;
}

label {
  text-align: left;
}

}